@import url('./typograpy.css');

body {
  background: var(--color-surface);
  color: var(--color-text);
}

a {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

:root {
  --color-surface: var(--color-surface-light);
  --color-text: var(--color-text-light);
  --color-accent: var(--color-accent-light);
  --color-success: var(--color-success-light);
  --color-error: var(--color-error-light);
  --color-warning: var(--color-warning-light);
  --color-toggle: var(--color-toggle-light);

  --text-toggle: "🌙"
}

[data-theme='dark'] {
  --color-surface: var(--color-surface-dark);
  --color-text: var(--color-text-dark);
  --color-accent: var(--color-accent-dark);
  --color-success: var(--color-success-dark);
  --color-error: var(--color-error-dark);
  --color-warning: var(--color-warning-dark);
  --color-toggle: var(--color-toggle-dark);

  --text-toggle: "☀️"
}